
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading {
    font-family:'Courier New', Courier, monospace;
    font-size: 45px;
    background-color: #d4b7ed;
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 125px;
}

nav {
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    background-color: #cce1ff;
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 50px;
}

a {
    padding: 20px;
}

a:hover {
    color: blueviolet;
}

footer {
    padding: 20px;
}

/* Home page */
.form-name {
    font-size: 25px;
}

.form-options {
    padding: 20px;
    font-size: 20px;
}

.index-body {
    padding: 30px;
}

.index-body h2 {
    padding-top: 30px;
}

form {
    padding-bottom: 20px;
}

.cart h2, li {
    margin-bottom: 5px;
}

/* All page's padding */
.about h1, .order_history h2, .invoices h2 {
    padding: 20px;
}